
/* 按钮颜色 */

/* 按钮无鼠标触碰时背景色 */
@btn-released-color: #3573e0;
/* 按钮--鼠标滑过时背景色 */
@btn-mouseover-color: #6699ff;
/* 按钮--鼠标按下时背景色 */
@btn-mousedown-color: #0033cc;

/* confirm按钮无鼠标触碰时背景色 */
@confirm-btn-released-color: #3573e0;
/* confirm按钮禁止点击时背景色 */
@confirm-btn-not-color: #99ccff;
/* confirm 取消 按钮无鼠标触碰时背景色 */
@confirm-cancel-released-color: #dcedfe;
/* confirm 取消 按钮文字颜色 */
@confirm-cancel-color: #3573e0;
/* confirm按钮--鼠标滑过时背景色 */
@confirm-btn-mouseover-color: #99ccff;
/* confirm按钮--鼠标按下时背景色 */
@confirm-btn-mousedown-color: #6699ff;


/* 顶部高度 */
@header-height: 112px;
/* 顶部logo宽度，首页左侧那列的宽度也是根据顶部logo宽度来的 */
@header-logo-width: 400px;
@header-logo-width-small: 360px;
/* 顶部字体颜色 */
@header-color: #fff;
/* 顶部菜单字体颜色 */
@header-menu-color: #fff;
/* 顶部菜单hover字体颜色 */
@header-menu-hover-color: #ff6600;
/* 顶部菜单选中字体颜色 */
@header-menu-select-color: #ff6600;


/* pannel */
/* pannel的border颜色 */
@pannel-border-color: #0049b3;
/* pannel的title的背景色 */
@pannel-title-bg: #144899;
/* pannel的title的颜色 */
@pannel-title-color: #fff;


/* 首页 */
/* 首页内容颜色 */
@index-content-color: #0099ff;


/* table */
@table-title-color: #ccffff;


/* confirm弹框 */
@confirm-title-bgcolor: #3573e0;
@confirm-title-color: #fff;
/* confirm close按钮hover背景颜色 */
@confirm-close-hover: #ff3334;
/* confirm close按钮active背景颜色 */
@confirm-close-active: #cc0001;
